#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 7%;
}

.photograph-header {
    display : flex;
    justify-content: space-between;
}

.photograph-header h1{
    color: #D3573C;
    font-size: 2.7rem;
}
.photograph-header h2{
    color : #901c1c;
    font-weight: 500;
    font-size : 1.2rem;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding-left : 4%;
    padding-right : 4%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin : 20px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header .contact_button:hover,
.photograph-header .contact_button:focus,
.photograph-header .contact_button:active{
    background-color: #DB8876;
    color:#000000;
}

#contact_modal{
    position :absolute;
    z-index :99;
    top :100px ; 
    width: 100%;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    max-width: 600px;
    width: 50%; 
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    animation : slideForm 0.6s ease-out;
}

@keyframes slideForm {
    0%{transform: translatey(-100%)}
    100% {transform:  translatey(0)}
} 


.modal header {
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    display : block;
    font-weight: normal;
    font-size: 2.8rem;
    width: 80%;
    margin : 0;
}
 
.modal .name{
   margin-bottom: 20px ;
}        

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 36px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal form input {
    width: 96%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
}

.form_textarea{
    width: 96%;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
}
.modal #message_send{
    display: block;

}
#contact_modal h2.hidden{
   opacity:0;
}
#form_contact.hidden{
    display:none;
}
.modal  #message_send.hidden{
    display:none;
}
.modal  #message_send{
    text-align: center;
    display:flex;
    justify-content: center;
    align-content: center;
    margin-bottom:40px;
    font-size: 2rem;
}

/*sorting*/
.sorting {
    margin-left : 7%;
    display : flex;
    margin-top: 15px;
}
.sorting .sorting_select {
    position: relative;
    width: 250px;
    border: 0;
    padding: 10px;
    z-index: 1;
}
  
.sorting ul {
    position: absolute; 
    top: 0;
    margin: 0 20px;
    width: 200px;
    padding : 10px 10px;
    border-radius: 5px;
    list-style: none;
    background-color: #901C1C;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    width: 190px;
}
  
.sorting ul li:nth-child(1n+0){
    padding: 0 10px 0 10px;  
    cursor: pointer;
    height: 50px;
}

.sorting ul .fa-chevron-down,
.sorting ul .fa-chevron-up  {
    color : #fff;
    position: absolute;
    right: 15px;
    top : 26px;
}

    /*à mettre en -9999? */
.sorting ul li input {
    position: absolute;
    left: -1000px;
}

.sorting ul li label {
    padding: 12px 5px 10px 0;
    height: 90%;
    color :#fff;
    display: block;
    font-size: 1.2rem;
    width: 95%;
}

.sorting ul li {
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
.sorting ul li.active {
    display: block;
}

.sorting ul .fa-chevron-up {
    display: none;
}

.sorting ul .fa-chevron-down {
    display: block;
}
  
.sorting ul li.inactive {
    display: none;
  }
  
.sorting ul li.inactive.selected {
    display: block;
 }

   
 .sorting ul:hover li.menu{
    display: block;
} 
   
 .sorting ul:hover li:nth-child(-n+3){
     border-bottom : 2px solid #fff;
} 
 .sorting ul:hover li:nth-child(-n+4){
    border-bottom : 2px solid #fff;
    height: 55px;
} 
  
.sorting ul:hover .fa-chevron-down{
    display: none;
} 
  
.sorting ul:hover .fa-chevron-up{
    display: block;
} 
/**/
#boxmedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 7% 20px 7%; 
}

#boxmedia .card{
    width: 30%;
    min-width: 330px;
    max-width: 360px;
    height: 360px; 
    margin-bottom:30px; 
    box-sizing: border-box;
}
 
@media screen and (max-width: 1050px){
    #boxmedia .card{
        width :47%; 
        height: calc(320 + 60); 
    }
    #boxmedia .card_media{
        width :100%; 
        height: 320px;
        /* height: 40vw; */
        overflow: hidden;
    }
} 

@media screen and (max-width: 500px){
    section #boxmedia{
        flex-direction: column;
        margin: auto;
    }
    #boxmedia .card{
        width :80%;
    }
    #boxmedia .card_media{
        width :100%; 
        height: 300px;
    }
    #boxmedia .card_text{
        font-size: 0.8rem;
    }
} 

#boxmedia .card_media{
    width :100%; 
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

#boxmedia .card .cardImg{
    width :100%;
    height: 100%; 
    object-fit: cover;  
    object-position: center 35%; 
}

#boxmedia .card video{
    width :100%;
    height: 100%;
    object-fit: cover;
}

#boxmedia .card_text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color :#901C1C;
    font-size: 1rem;
    font-weight: 500;
    height: 60px;
   
}

#boxmedia .card_text h2{
    margin-top: 10px;
    margin-right: 3px;
}

#boxmedia button{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border : none;
    align-items: center;
    color :#901C1C;
}

#boxmedia button span{
    font-size: 1.4rem;
}
#boxmedia .card .heart{
    font-size: 1.8rem;
    display: block;
    padding-left: 8px;
}

#boxmedia .card button:focus .heart,
#boxmedia .card button:active .heart{
    animation : big 0.3s ease-in-out;
}

@keyframes big {
    50% {
        transform: scale(1.8);
    }
}

.cardLikes{
    position : fixed;
    bottom:0;
    right : 3%;
    background-color: #DB8876;
    width: 320px;
    height: 60px;
    font-size: 1.8rem;
    padding: 0 15px 0 15px;
    font-weight: 600;
}

.cardLikes,.cardLikes div{
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.cardLikes div img{
    padding-left : 5px;   
}

/*lightbox*/
 #lightbox{
    position :fixed;
    display : flex;
    justify-content: center;
    align-items: center;
    z-index :99;
    top :0 ; 
    height: 100%;
    width: 100%; 
    background-color:#fff; 
    z-index: 102;
}

#lightbox.hidden{
    display:none;
}

.lightbox_next{
    right:4%;
}

.lightbox_previous {
    left: 4%;
}

.lightbox_next,
.lightbox_previous {
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color : #901C1C;
    background-color: #fff;
    border : none;
    top : 23%;
    width: 9%;
    position:fixed;
    z-index:11;
    cursor : pointer;
    height: 60%;
}

.lightbox_next i,
.lightbox_previous i{
    transition : 0.1s;
} 

.lightbox_close{
    color : #901C1C;
    background-color: #fff;
    position:fixed;
    right: 4.5%;
    height: 60px;
    top: 10%;
    width: 8vw;
    border : none;
    font-size: 3rem;
    cursor : pointer;
}

#lightbox button:hover{
cursor : pointer;
}

#lightbox button:hover i{
transform : scale(1.2);
}

.lightbox_container {
    box-sizing: border-box;
   display:flex;
   align-items: center;
    flex-direction: column;
    margin : 0 13% 0 13%;
    height: 100%;
    width: 71%;
    overflow: hidden;
}

.lightbox_container .box_media {
    margin-top :60px;
    height: 90%; 
    width: 100%;
    overflow: hidden;
}

.lightbox_container .media{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    object-position: center 35%; 
    animation : slideEffect 0.5s ease-in-out;
}

@keyframes slideEffect {
    0%{transform: translate(100%, -100%)}
100% {transform:  translate(0, 0)}
} 

.lightbox_container .videomedia{
    width :100%;
    height: 100%; 
    object-fit: cover;  
    animation : slideEffect 0.5s ease-in-out;;
}

#lightbox .box_text{
   width: 100%;
   height: 10%;
   animation : showText 0.6s ease-in-out; 
}

@keyframes showText {
    0%{opacity: 0}
100% {opacity: 1}
} 

#lightbox h3{
    color : #901C1C;
    font-size: 2rem;
    margin-top : 20px;
}

@keyframes lightboxInOpacity{
    from{ opacity: 0;}
    to {opacity: 1;}
}





